<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

<listeners>
<!-- <listener class-name="utils.TestNGListener"></Listener>-->
</listeners>
<test verbose="2" preserve-order="true" name="C:/Users/SWAPRADH/IdeaProjects/bdd/target">
<classes>
    <class name="runner.TestRunner"></class>
</classes>
</test>
</suite>